html {
    font-size: 62.5%;
    font-family: var(--font-family);
}

.skew-background {
    position: relative;
    z-index: 1;
}

.skew-background::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skewX(-16deg);
    background-color: var(--primary-color);
    z-index: -1;
}