html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    position: relative;
    font-family: var(--font-family);
    overflow-x: hidden;
}

.skew-background {
    position: relative;
    z-index: 1;
}

.skew-background::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skewX(var(--skew));
    background-color: var(--primary-color);
    z-index: -1;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

/* ? CSS for scroll bar */

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: var(--background-primary);
    opacity: .7;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
}

/* ? CSS for Section */
.section {
    position: relative;
    padding: 70px 0px;
}

.section__main {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.section__header {
    margin-top: 15px;
    margin-bottom: 60px;
    color: var(--text-light-color);
}

.section__title {
    font-size: 3.6rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
}

.section__img {
    display: block;
    margin: auto;
    margin-top: 10px;
}

/* ? CSS for tranform/keyframe */

@keyframes fadeInUp {
    form {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.keyframe-fade-in-up {
    animation: fadeInUp ease-in-out 0.8s forwards;
}

.animate__bounceIn {
    animation-duration: 1s;
}

@keyframes blurAndScale {
    form {
        filter: blur(5px);
        transform: scale(1.2);
    }
    to {
        filter: blur(4px);
        transform: scale(1.4);
    }
    to {
        filter: unset;
        transform: scale(1);
    }
}

.keyframe-blur-scale {
    animation: blurAndScale ease-in-out var(--time-animation-banner);
    animation-fill-mode: forwards;
}

@keyframes fadeInDown {
    form {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.keyframe-fade-in-down {
    animation: fadeInDown ease-in-out 1s;
    animation-fill-mode: forwards;
}

@keyframes blink {
    form {
        opacity: 1;
    }
    to {
        opacity: .6;
    }
    to {
        opacity: .3;
    }
    to {
        opacity: 0;
    }
}

.keyframe-blink {
    animation: blink 1s ease-in-out infinite;
}

@keyframes fadeIn {
    form {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes autoRun {
    form {
        left: 100%;
    }   
    to {
        left: calc(var(--width) * -1);
    }
}

.animate__animated.animate__pulse {
    animation-duration: 1.5s;
}
