@media screen and (max-width: 1199.98px) {
    /* TODO: HEADER */

    .header__logo {
        width: 330px;
    }

    .header__lang-list.menu__wrapper {
        margin-right: 100px;
    }

    .header__lang-item.menu__item {
        width: 120px;
    }

    .header__lang-list.menu__wrapper::before {
        top: -17px;
        width: 100%;
    }

    /* TODO: BANNER */
    .banner__over {
        top: 50%;
    }

    .banner__img {
        width: 300px;
    }

    .banner__slogan > #slogan {
        font-size: 2rem;
    }

    .banner__slogan > #cursor {
        height: 25px;
    }

    .banner__download {
        font-size: 2rem;
        padding: 10px 22px;
    }

    .banner__button {
        margin-top: 15px;
    }
}

@media screen and (max-width: 991.98px) {
    /* TODO: HEADER */

    .header__logo {
        width: 310px;
    }

    .header__offer-day {
        padding: 4px 9px;
        font-size: 1.4rem;
    }

    .header__offer {
        font-size: 1.3rem;
    }

    .header__follow {
        font-size: 1.3rem;
    }

    .header__list-item {
        display: flex;
    }

    .header__list-item:hover > i {
        margin-top: -2px;
    }

    .header__list-item > a {
        font-size: 1.3rem;
        padding: 10px;
    }

    .header__list-item.search {
        width: 35px;
        height: 35px;
        margin-left: 4px;
    }
    
    .header__list-item.shopping-cart > i,
    .header__list-item.search > i {
        font-size: 1.2rem;
    }

    .header__logo-link {
        font-size: 2.5rem;
    }

    .header__info {
        width: 90px;
    }

    .header__live {
        width: 46px;
    }
    
    .header__list-item.header__info > a,
    .header__list-item.header__live > a {
        height: 38px;
        margin-top: 2px;
    }

    .header__lang-list.menu__wrapper::before {
        top: -21px;
    }

    #globeBtn:hover > i {
        margin-top: 12px;
    }

    /* TODO: BANNER */
    .banner__img {
        width: 250px;
    }

    .banner__button {
        display: none;
    }

    .banner__over {
        top: calc(50% - 25px);
    }
}

@media screen and (max-width: 840.98px) {
    .header__logo {
        width: 230px;
    }

    .header__top {
        height: 50px;
    }

    .header__bottom {
        height: 50px;
    }

    .header__list-item > a {
        padding: 5px 10px;
    }

    .header__list-item.header__info > a,
    .header__list-item.header__live > a {
        height: 30px;
        margin-top: 7px;
    }

    .header__bottom {
        height: 60px;
    }
}

@media screen and (max-width: 767.98px) {
    /* TODO: HEADER */
    .header__top {
        display: none;
    }

    .header__bottom {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    .header__logo {
        width: 300px;
    }

    .header__hidden {
        display: none;
    }

    .header__bar.header__list-item {
        display: flex;
    }

    .header__list-item.search {
        margin: 0px 8px;
        width: 40px;
        height: 40px;
    }
    
    .header__list-item.search > i {
        font-size: 1.6rem;
    }

    .header__lang-list.menu__wrapper {
        margin-right: 0;
    }
}

@media screen and (max-width: 575.98px) {
    /* TODO: HEADER */
    .header__logo {
        width: 190px;
    }

    .header__lang-list.menu__wrapper {
        margin-right: 20px;
    }
}
    

@media screen and (max-width: 400.98px) {
    /* TODO: HEADER */
    .header__logo {
        width: 160px;
    }

    .header__logo-link {
        font-size: 2rem;
    }

    .header__list-item.search {
        margin: 0px 3px;
        width: 38px;
        height: 38px;
    }

    .header__list-item.search > i {
        font-size: 1.4rem;
    }

    .header__lang-list.menu__wrapper {
        margin-right: 40px;
    }

    .header__lang-list.menu__wrapper::before {
        top: -19px;
        height: 23px;   
    }
}