@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

:root {
    /* --primary-color: #E9A401; */
    --primary-color: #fd3a4a;
    --background-primary: #242533;
    --background-second: #313039;
    --background-grey: #ECE8E1;
    --background-img-color: #141217;
    --background-footer-top: #1D191F;
    --background-footer-bottom: #151316;
    --sub-title-light-color: #CCCCCC;
    --title-dark-color: #1B1320;
    --title-light-color: #fff;
    --text-light-color: #fff;
    --text-dark-color: #1B1320;
    --font-family: 'Oxanium', sans-serif;
    --height-header: 60px;
    --height-banner: 110vh;
    --shadow-header: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    --shadow-btn: 0px 2px 8px 0px hsla(0, 0%, 0%, 0.2),
                inset 0px 2px 8px 0px hsla(0, 0%, 0%, 0.4);
    --scale-banner: 1.2;
    --time-animation-banner: 1.5s;
    --border-bottom-search-color: #ffffffd0;
    --find-background: #000000d6;
    --scrollbar-color: #ff4756;
}

/* body.dark-mode {
    --primary-color: #E9A401;
    --background-primary-color: #242533;
    --background-second-color: #F7F7F7;
    --background-img-color: #141217;
    --background-footer-top: #1D191F;
    --background-footer-bottom: #151316;
    --sub-title-color: #CCCCCC;
    --title-color: #1B1320;
} */