/*

    ? HEADER TOP

*/

.header {
    position: sticky;
    top: calc(var(--height-header) * -1);
    z-index: 5;
}

.header__top {
    background-color: var(--background-primary);
    opacity: .8;
    font-weight: 600;
    height: var(--height-header);
}

.header__top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__offer {
    color: var(--sub-title-light-color);
    font-size: 1.4rem;
}

.header__offer-day {
    font-size: 2rem;
    font-weight: 700;
    color: var(--title-dark-color);
    opacity: 1;
    display: inline-block;
    padding: 6px 14px;
    margin-left: 5px;
    margin-right: 5px;
}

.header__follow {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--title-light-color);
}

.header__social {
    display: inline-flex;
    margin-left: 10px;
}

.header__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0px 4px;
    width: 40px;
    height: 30px;
    background-color: var(--background-second);
    font-size: 1.3rem;
    transition: .3s;
    color: var(--primary-color);
    border-radius: 5px;
}

.header__social-link:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--title-dark-color);
}

/*

    ? HEADER BOTTOM

*/

.header__bottom {
    position: relative;
    display: flex;
    height: var(--height-header);
    background-color: var(--background-primary);
    border-top: 1px solid #000;
    box-shadow: var(--shadow-header);
}

.header__bottom .container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-light-color);
}

.header__logo {
    position: absolute;
    display: flex;
    align-items: center;
    width: 450px;
    height: 100%;
    margin-left: -20px;
    z-index: 1;
}

.header__logo.skew-background::before {
    transform: skewX(16deg);
}

.header__logo-link {
    color: var(--text-light-color);
    text-decoration: none;
    font-size: 2.8rem;
    font-weight: 700;
    display: block;
    transition: .3s;
}

.header__logo-link:hover {
    color: var(--title-dark-color);
    text-decoration: none;
}

/* .header__nav {

} */

.header__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.header__list-item {
    font-size: 1.4rem;
    font-weight: 600;
}

.header__list-item a {
    padding: 10px 25px;
    color: var(--text-light-color);
    text-transform: uppercase;
    transition: .3s;
}

.header__list-item .skew-background::before {
    background-color: transparent;
    transition: .3s;
}

.header__list-item a:hover.skew-background::before {
    background-color: var(--primary-color);
    transition: .3s;
}

.header__list-item a:hover {
    text-decoration: none;
    color: var(--text-dark-color);
}

.header__list-item.shopping-cart {
    margin-left: 15px;
    margin-right: 15px;
    color: var(--primary-color);
}

.header__list-item.search {
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-second);
    border-radius: 5px;
    box-shadow: var(--shadow-btn);
    width: 40px;
    height: 40px;
    transition: .3s;
    color: var(--primary-color);
}

.header__list-item.shopping-cart:hover,
.header__list-item.search:hover {
    cursor: pointer;
}

.header__list-item.search:hover {
    background-color: var(--primary-color);
    color: var(--text-dark-color);
    transition: .3s;
}

/*

    ? SEARCH

*/

.find {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 100vh;
    backdrop-filter: blur(3px);
    opacity: 0;
}

.find__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;
    height: 100%;
    background-color: var(--find-background);
    opacity: .8;
}

.find__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.find__input {
    width: 600px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid var(--border-bottom-search-color);
    padding: 20px;
    padding-right: 70px;
    font-size: 3.5rem;
    outline: none;
    color: var(--text-light-color);
}

.find__input::placeholder {
    color: var(--text-light-color);
    opacity: .6;
}

.find__icon {
    border: none;
    margin-right: 20px;
    margin-left: -70px;
    background: transparent;
    font-size: 5rem;
    color: var(--primary-color);
}

/*

    ? BANNER

*/

.banner {
    min-height: var(--height-banner);
    position: relative;
    margin-top: calc(var(--height-header) * -2);
}

.banner__under {
    position: absolute;
    z-index: -1;
    /* background-image: linear-gradient(#fff, #000), url('../img/banner-1.jpeg'); */
    background-image: linear-gradient(#ffffff0a, #21252942, #ff007763), url(../img/banner-1.jpeg);
    /* background-image: linear-gradient(#00000015, #00000090), url(../img/banner-1.jpeg); */
    /* background-image: linear-gradient(#007bff25, #ce00605c), url(../img/banner-1.jpeg); */
    
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: var(--height-banner);
    filter: blur(5px);
    transform: scale(var(--scale-banner));
    animation: blurAndScale ease-in-out var(--time-animation-banner);
    animation-fill-mode: forwards;
}

.banner__over {
    position: absolute;
    top: calc(50% + 70px);
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.banner__img {
    display: block;
    margin: auto;
    /* transform: scale(1); */
    width: 350px;
}

.banner__slogan {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: var(--text-light-color);
    font-size: 2.4rem;
    text-shadow: 2px 2px 5px var(--text-dark-color);
}

.banner__slogan #slogan {
    
    text-align: center;
}

.banner__slogan #cursor {
    height: 30px;
    width: 3px;
    margin-left: 4px;
    background-color: var(--text-light-color);
    box-shadow: 2px 2px 2px #363636;
}

.banner__button {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    transition: ease .5s;
    width: 250px;
}

.banner__button:hover {
    transition: ease .5s;
    cursor: pointer;
    opacity: .8;
}

.banner__button:hover > [class*="banner__btn"] {
    margin-left: -2px;
    margin-right: -2px;
}

.banner__download {
    position: relative;
    z-index: -1;
    display: block;
    color: var(--text-light-color);
    font-weight: 600;
    padding: 10px 22px;
    font-size: 2.4rem;
    border: none;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.banner__btn-left,
.banner__btn-right {
    margin-left: 7px;
    margin-right: 7px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 4px;
    transition: ease .4s;
}

