/*

    ? HEADER TOP

*/

.header {
    position: sticky;
    top: calc(var(--height-header) * -1);
    z-index: 5;
}

.header__top {
    background-color: var(--background-primary);
    opacity: .8;
    font-weight: 600;
    height: var(--height-header);
}

.header__top .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.header__offer {
    color: var(--sub-title-light-color);
    font-size: 1.4rem;
}

.header__offer-day {
    font-size: 2rem;
    font-weight: 700;
    color: var(--title-dark-color);
    opacity: 1;
    display: inline-block;
    padding: 6px 14px;
    margin-left: 5px;
    margin-right: 5px;
}

.header__follow {
    display: flex;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--title-light-color);
}

.header__social {
    display: inline-flex;
    margin-left: 10px;
}

.header__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0px 4px;
    width: 40px;
    height: 30px;
    background-color: var(--background-second);
    font-size: 1.3rem;
    transition: .3s;
    color: var(--primary-color);
    border-radius: 5px;
}

.header__social-link:hover {
    cursor: pointer;
    text-decoration: none;
    background-color: var(--primary-color);
    color: var(--title-dark-color);
}

/*

    ? HEADER BOTTOM

*/

.header__bottom {
    position: relative;
    display: flex;
    height: var(--height-header);
    background-color: var(--background-primary);
    border-top: 1px solid #000;
    box-shadow: var(--shadow-header);
}

.header__bottom .container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-light-color);
}

.header__logo {
    position: absolute;
    display: flex;
    align-items: center;
    width: 450px;
    height: 100%;
    margin-left: -20px;
    z-index: 1;
}

.header__logo-link {
    color: var(--text-light-color);
    text-decoration: none;
    font-size: 2.8rem;
    font-weight: 700;
    display: block;
    transition: .3s;
}

.header__logo-link:hover {
    color: var(--title-dark-color);
    text-decoration: none;
}

/* .header__nav {

} */

.header__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.header__list-item {
    font-size: 1.4rem;
    font-weight: 600;
}

.header__list-item > a {
    padding: 10px 18px;
    color: var(--text-light-color);
    text-transform: uppercase;
    transition: .3s;
}

.header__list-item > .skew-background::before {
    background-color: transparent;
    transition: .3s;
}

.header__list-item a:hover.skew-background::before {
    background-color: var(--primary-color);
    transition: .3s;
}

.header__list-item a:hover {
    text-decoration: none;
    color: var(--text-dark-color);
}

.header__list-item.shopping-cart {
    margin-left: 10px;
    margin-right: 10px;
    color: var(--primary-color);
}

.header__list-item.shopping-cart:hover,
.header__list-item.search:hover {
    cursor: pointer;
}

.header__list-item.search:hover {
    background-color: var(--primary-color);
    color: var(--text-dark-color);
    transition: .3s;
}

.header__list-item.search {
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--background-second);
    border-radius: 5px;
    box-shadow: var(--shadow-btn);
    width: 40px;
    height: 40px;
    transition: .3s;
    color: var(--primary-color);
}

#globeBtn:hover > i {
    margin-top: 13px;
}

#globeBtn:hover > .menu__wrapper {
    display: block;
}

.header__info,
.header__live {
    width: 66px;
    height: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: -13px;
}

.header__info > a,
.header__live > a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    margin-top: 4px;
}

.header__info .menu__wrapper,
.header__live .menu__wrapper {
    margin-top: 20px;
}

.header__info .menu__wrapper::before,
.header__live .menu__wrapper::before {
    width: 90px;
}

.header__info:hover,
.header__live:hover {
    cursor: pointer;
}

.header__info:hover > a,
.header__live:hover > a {
    color: var(--text-dark-color);
}

.header__info:hover > .skew-background::before,
.header__live:hover > .skew-background::before {
    background-color: var(--primary-color);
}

.header__info:hover > .menu__wrapper,
.header__live:hover > .menu__wrapper {
    display: block;
}

.header__info {
    width: 112px;
}

/*

    ? SEARCH

*/

.find {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    height: 100vh;
    backdrop-filter: blur(3px);
    opacity: 0;
}

.find__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 15;
    height: 100%;
    background-color: var(--find-background);
    opacity: .8;
}

.find__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

.find__input {
    width: 600px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid var(--border-bottom-search-color);
    padding: 20px;
    padding-right: 70px;
    font-size: 3.5rem;
    outline: none;
    color: var(--text-light-color);
}

.find__input::placeholder {
    color: var(--text-light-color);
    opacity: .6;
}

.find__icon {
    border: none;
    margin-right: 20px;
    margin-left: -70px;
    background: transparent;
    font-size: 5rem;
    color: var(--primary-color);
}

/*

    ? BANNER

*/

.banner {
    min-height: var(--height-banner);
    position: relative;
    margin-top: calc(var(--height-header) * -2);
}

.banner__under {
    position: absolute;
    z-index: -1;
    background-image: linear-gradient(#ffffff0a, #21252942, #ff007763), url(../img/banner-1.jpeg);
    /* background-image: linear-gradient(#00000015, #00000090), url(../img/banner-1.jpeg); */
    /* background-image: linear-gradient(#007bff25, #ce00605c), url(../img/banner-1.jpeg); */
    
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: var(--height-banner);
    filter: blur(5px);
    transform: scale(var(--scale-banner));
}

.banner__home {
    position: absolute;
    top: var(--height-header);
    width: 0;
    height: 0;
}

.banner__over {
    position: absolute;
    top: calc(50% + 70px);
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.banner__img {
    display: block;
    margin: auto;
    opacity: 0;
    transform: translateY(-50px);
    width: 350px;
}

.banner__slogan {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    color: var(--text-light-color);
    font-size: 2.4rem;
    text-shadow: 2px 2px 5px var(--text-dark-color);
}

.banner__slogan #slogan {
    height: 40px;
    text-align: center;
}

.banner__slogan #cursor {
    height: 30px;
    width: 3px;
    margin-left: 4px;
    background-color: var(--text-light-color);
    box-shadow: 2px 2px 2px #363636;
}

.banner__button {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    transition: ease .5s;
    width: 250px;
}

.banner__button:hover {
    transition: ease .5s;
    cursor: pointer;
    opacity: .8;
}

.banner__button:hover > [class*="banner__btn"] {
    margin-left: -2px;
    margin-right: -2px;
}

.banner__download {
    position: relative;
    z-index: -1;
    display: block;
    color: var(--text-light-color);
    font-weight: 600;
    padding: 10px 22px;
    font-size: 2.4rem;
    border: none;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.banner__btn-left,
.banner__btn-right {
    margin-left: 7px;
    margin-right: 7px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 4px;
    transition: ease .4s;
}

/*

    ? SLIDER

*/

.slider {

}

.slider__main {
    padding: 20px 200px;
    border-top: 5px solid #4D2D41;
    border-bottom: 5px solid #4D2D41;
    background-image: linear-gradient(to right, #CB356B, #BD3F32);
    transition: .5s;
}

.slider__main:hover .slider__team-item {
    animation-play-state: paused !important;
    filter: blur(2px);
}

.slider__main .slider__team-item:hover {
    filter: blur(0);
}

.slider__team-list {
    height: var(--height);
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
    mask-image: linear-gradient(
        to right,
        transparent,
        #fff,
        transparent
    );
    overflow: hidden;
}

.slider__team-item {
    width: var(--width);
    height: var(--height);
    margin: 10px 0px;
    position: absolute;
    top: 0;
    left: 100%; 
    animation: autoRun 10s linear infinite;
    animation-delay: calc( (var(--distance) * 1s / var(--quanlity)) * (var(--position) - 1) );
    transition: .5s;
}

.slider__team-link {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 12px;
    outline-offset: 5px;
    outline: 2px solid var(--background-primary);
    background-color: var(--background-primary);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: .3s;
}

.slider__team-link:hover {
    outline-offset: 0px;
    background-color: var(--primary-color);
}

.slider__team-item .slider__team-img {
    width: 100%;
}

/*

    ? LIVE

*/

.live {
    height: 115vh;
    background-image: linear-gradient(#3c1930ef, #3C1930ef) ,url('../img/hq720.webp');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.live__title span {
    color: var(--primary-color);
}

.live__video {
    position: relative;
    width: 800px;
    height: 450px;
    opacity: 0;
    transform: translateY(100px);
}

.live__thumbnail {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    border-radius: 5px;
}

.live__frame {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

/*

    ? MATCH

*/

.match {
    position: relative;
    height: 100vh;
    /* padding-top: 60px; */
}

.match__under {
    height: 100%;
    width: 100vw;
    position: absolute;
    background-image: linear-gradient(#3c1930b5, #3C1930ef), url('../img/bk-3.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    filter: blur(5px);
    transform: scale(var(--scale-banner));
    z-index: -1;
}

.match__main {
    padding: 50px 0px 70px;
    position: relative;
    z-index: 1;
    width: 100vw;
    background-image: linear-gradient(#0000004d, #0000004d);
    box-shadow: rgba(87, 57, 255, 0.15) 0px 48px 100px 0px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 75%, rgba(251, 0, 0, 0) 100%);
}

.match__main::after {
    display: block;
    content: 'LIVE';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28rem;
    font-weight: 700;
    color: #3E1B3C;
    opacity: .6;
    z-index: -1;
}

.match__main .container {
    display: flex;
    justify-content: space-between;
}

.match__desc {
    margin: auto;
}

.match__desc-text {
    color: var(--text-light-color);
    font-size: 1.6rem;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-weight: 700;
    padding: 2px 20px;
    background-image: linear-gradient(45deg, #CB3F90 0%, var(--primary-color) 50%, #CB3F90 100%);
}

.match__time {
    font-size: 8rem;
    background: linear-gradient(180deg, rgba(155,68,213,1) 0%, var(--primary-color) 50%, rgba(155,68,213,1) 100%);
    -webkit-background-clip: text; /* Giới hạn gradient chỉ trong văn bản */
    -webkit-text-fill-color: transparent; /* Làm văn bản trong suốt */
    text-align: center;
    font-weight: 500;
}

.match__team {
    position: relative;
}

.match__main .match__team:first-child .match__name-box {
    left: 160px;
}

.match__main .match__team:last-child .match__name-box {
    right: 160px;
}

.match__name-country p {
    color: var(--text-light-color);
    margin-bottom: 0;
}

.match__name-team p {
    font-size: 2rem;
    font-weight: 600;
}

.match__main .match__team:first-child .match__name-country,
.match__main .match__team:first-child .match__name-team {
    text-align: left;
    margin-left: 80px;
}

.match__main .match__team:last-child .match__name-country,
.match__main .match__team:last-child .match__name-team {
    text-align: right;
    margin-right: 80px;
}

.match__img {
    position: relative;
    z-index: 1;
    width: 230px;
}

.match__name-box {
    width: 230px;
    height: 80px;
    position: absolute;
    opacity: .7;
    font-size: 1.6rem;
    top: 50%;
    transform: translateY(calc(-50%));
    z-index: 0;
    padding-top: 12px;
}

.match__schedule {
    background-color: var(--background-second);
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    overflow: hidden;
}

.match__schedule-header {
    padding: 12px;
}

.match__btn {
    background-color: var(--background-primary);
    border: none;
    border-radius: 10px;
    font-size: 2rem;
    width: 80px;
    height: 50px;
    color: var(--text-light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.match__btn:hover {
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--text-dark-color);
    transition: .3s;
}

.match__wrapper {

}

.match__schedule-box {
    display: flex;
}

.match__player-name {
    color: var(--text-light-color);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
}

.match__player-logo {
    width: 50px;
    margin: 0px 15px;
}

.match__player-logo img {
    width: 100%;
}

.match__score {
    font-size: 2.6rem;
    color: var(--text-light-color);
}

.match__schedule-footer {
    color: var(--text-light-color);
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center; 
    font-size: 1.2rem;
    background-color: var(--background-primary);
}

/*

    ? ABOUT 

*/

.about {
    height: 100vh;
    background-color: var(--background-grey);
}

.about__learn {
    background-color: transparent;
}

.about__learn.skew-background::before {
    transition: .3s;
}

.about__learn:hover.skew-background::before {
    background-color: var(--background-primary);
    transition: .3s;
}

.about__video {
    display: block;
    width: 100%;
    max-height: 190px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

/*

    ? AGENTS

*/

.agents {
    background-color: var(--scrollbar-color);
    color: var(--background-grey);
}

.agents__title {
    
}

.agents__learn.skew-background::before {
    background-color: var(--background-primary);
}

.agents__learn {
    background-color: transparent;
}

.agents__learn:hover {
    color: var(--text-dark-color);
}

.agents__learn.skew-background::before {
    transition: .3s;
}

.agents__learn:hover.skew-background::before {
    background-color: var(--background-grey);
    transition: .3s;
}

.agents__img img {
    width: 100%;
}